<html ng-app="admin">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

  <style type="text/css" id="holderjs-style"></style></head>
    <title></title>
    <meta content="">

  </head>
  <body>
	<div ng-controller = "adminCtrl" ng-init = "getAllResults()" >

	<button id="logoutBtn" onclick="logout()" class="btn btn-link">Log Out</button>
	<button id="toQuizInsertPage" onclick="toQuizInsertPage()" class="btn btn-lg btn-link">To Quiz Creator</button>
	<button id="toQuizListPage" onclick="window.location='adminQuizList.html'" class="btn btn-lg btn-link">To Quiz List</button>
	<h1>Results Query</h1>
		<br>

		
	<div style="border:1px solid gray;">
		<div class="jumbotron">
			<div>
				<label>First Name</label> <input id="fnameinput" type="text">
			</div>
			
			<div>
			<label>Last Name</label> <input id="lnameinput" type="text">
			</div>
			
			<div>
				<label>Quiz</label> <input id="quizinput" type="text" >
			</div>
			
			<div>
				<label>Course Code</label> <input id="courseinput" type="text">
			</div>
			
			<button id="submit" ng-click="getQueryResults()" class="btn btn-sm btn-success" style="margin-left:175px">Query</button>

	</div>


 <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Results</h3>
            </div>
            <div class="panel-body">
              <table style="width:100%" border="1" class="table table-bordered">
	    <tr>
	      <th><b>First Name</b></th>
	      <th><b>Last Name</b></th>
	      <th><b>Quiz</b></th>
	      <th><b>Course Code</b></th>
	      <th><b>Score</b></th>
	      <th><b>Time Taken</b></th>
	      <th><b>Date Taken</b></th>
	    </tr>

	    <tr ng-repeat="result in results track by $index">
	      <td>{{result.fname}}</td>
	      <td>{{result.lname}}</td>
	      <td>{{result.quizname}}</td>
	      <td>{{result.coursecode}}</td>
	      <td>{{result.score}}</td>
	      <td>{{result.timetaken}}</td>
	      <td>{{result.datetaken}}</td>
	    </tr>

	   </table>
            </div>
          </div>	
	</div>
	
	<br>
	<div style="border:1px solid gray;">

	<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Quiz Averages</h3>
            </div>
            <div class="panel-body">
              <table style="width:100%" border="1" ng-init="getQuizAverages()" class="table table-bordered">
	    <tr>
	      <td><b>Quiz</b></td>
	      <td><b>Course Code</b></td> 
	      <td><b>Average Score</b></td> 
	      <td><b>Number of attempts</b></td> 
	    </tr>
	    
	    <tr ng-repeat="quizavg in quizavgs">
	      <td>{{quizavg.quizname}}</td>
	      <td>{{quizavg.coursecode}}</td> 
	      <td>{{quizavg.average_score}}</td>
	      <td>{{quizavg.number_taken}}</td>
	    </tr>
	   </table>
            </div>
          </div>
	</div>
	
	<br>
	<div style="border:1px solid gray;">

	<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Student Averages</h3>
            </div>
            <div class="panel-body">
              	<table style="width:100%" border="1" ng-init="getStudentAverages()" class="table table-bordered">
	    <tr>
	      <td><b>First Name</b></td>
	      <td><b>Last Name</b></td> 
	      <td><b>Email</b></td> 
	      <td><b>Average Score</b></td> 
	      <td><b>Number of attempts</b></td> 
	    </tr>
	    
	    <tr ng-repeat="studentavg in studentavgs">
	      <td>{{studentavg.fname}}</td>
	      <td>{{studentavg.lname}}</td> 
	      <td>{{studentavg.emailaddress}}</td> 
	      <td>{{studentavg.average_score}}</td>
	      <td>{{studentavg.number_taken}}</td>
	    </tr>
	   </table>
            </div>
          </div>


	</div>
	<script>

		function logout() {
			sessionStorage.removeItem("username");
			sessionStorage.removeItem("password");
			sessionStorage.clear();
			window.location = "http://shrouded-earth-7234.herokuapp.com/login-fancy.html";
		}

		function toQuizInsertPage() {
			window.location = "http://shrouded-earth-7234.herokuapp.com/quizInsert.html";
		}




	</script>
	</div>
	<script type="text/javascript" src="js/libraries/angular/angular.js"></script>
	<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="question.js"></script>
	<script type="text/javascript" src="js/admin/app.js"></script>
	<script type="text/javascript" src="js/admin/controllers.js"></script>
	<script type="text/javascript" src="js/admin/services.js"></script>
</body>
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootsrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</html>
