<html ng-app="admin">
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
	<div ng-controller = "adminCtrl" ng-init = "getAllResults()">
	WELCOME ELF!!!!!
	<button id="logoutBtn" onclick="logout()">LOGOUT</button>
	<br>
	<br>
	<fieldset>
	  First Name <input id="fnameinput" type="text">
	  <br>
	  Last Name <input id="lnameinput" type="text">
	  <br>
	  Quiz <input id="quizinput" type="text">
	  <br>
	  <br>
	  <button id="submit" ng-click="getQueryResults()">Query</button>
	</fieldset>
	<br>
	<table style="width:90%" border="1">
	    <tr>
	      <td><b>First Name</b></td>
	      <td><b>Last Name</b></td> 
	      <td><b>Quiz</b></td>
	      <td><b>Score</b></td>
	      <td><b>Time Taken</b></td>
	      <td><b>Date Taken</b></td>
	    </tr>
	    
	    <tr ng-repeat="result in results track by $index">
	      <td>{{result.fname}}</td>
	      <td>{{result.lname}}</td> 
	      <td>{{result.quizname}}</td>
	      <td>{{result.score}}</td>
	      <td>{{result.timetaken}}</td>
	      <td>{{result.date}}</td>
	    </tr>
	    
	   </table>
	</div>	
	
	<script>
		
		function logout() {
			sessionStorage.removeItem("username");
			sessionStorage.removeItem("password");
			sessionStorage.clear();
			window.location = "http://shrouded-earth-7234.herokuapp.com/login-fancy.html";
		}
	</script>

	<script type="text/javascript" src="js/libraries/angular/angular.js"></script>
	<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="question.js"></script>
	<script type="text/javascript" src="js/admin/app.js"></script>
	<script type="text/javascript" src="js/admin/controllers.js"></script>
	<script type="text/javascript" src="js/admin/services.js"></script>
</body>
</html>
