<!DOCTYPE html>
<html ng-app="questionList">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="main-one" ng-controller="questionCtrl" ng-init="getQuestions()">

		<button>Back To Home Page</button>
		<button ng-click="checkAnswers()">Check Answers</button>

		<fieldset id={{
			"question"+$index}} ng-repeat="question in questions track by $index">

			<legend>Question {{question.id}}</legend>
			<span ng-switch="question.questionType">
				<div directive-one ng-switch-when="text">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label>
							<input type="text" id={{"a"+$index}} name="fff">
						</label>
					</form>
				</div>
				<div directive-two ng-switch-when="number">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label>
							<input type="text" id={{"a"+$index}} name="fff">
						</label>
					</form>
				</div>
				<div directive-three ng-switch-when="numTol">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label>
							<input type="text" id={{"a"+$index}} name="fff">
						</label>
					</form>
				</div>
				<div directive-four ng-switch-when="multi">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label ng-repeat=" option in question.optionsText"> <input
							type="radio" id={{"q"+$parent.$index+"a"+$index}} name="fff">
							{{option}}
						</label>
					</form>
				</div>
			</span>

			
		</fieldset>


	</div>
	<script type="text/javascript" src="js/libraries/angular/angular.js"></script>
	<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="question.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers2.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
</body>
</html>
