<!DOCTYPE html>
<html ng-app="questionList">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="main-one" ng-controller="questionCtrl" ng-init="getAnswers()">

		<button>Back To Home Page</button>
		<button ng-click="displayAnswers()">Answers</button>

		<fieldset id={{
			"question"+$index}} ng-repeat="question in questions track by $index">

			<legend>Question {{question.id}}</legend>

			
		</fieldset>


	</div>
	<script type="text/javascript" src="js/libraries/angular/angular.js"></script>
	<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="question.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers2.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
</body>
</html>
