<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
	<script type="text/javascript" src="js/libraries/angular/angular.js"></script>
	<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="question.js"></script>
  </head>
	<body onload="load()">
	<script>
	function load(){
		if(sessionStorage.getItem('username')==null){
		alert("You're not logged in, redirecting to home");
		window.location = "http://shrouded-earth-7234.herokuapp.com/login-fancy.html"; 
		}
	}
	</script>

	Hi, thanks for logging in
	<input type="button" id="logout" value="logout">

	<div id="main-one" ng-controller="questionCtrl">

		<fieldset id={{
			"question"+$index}} ng-repeat="question in questions track by $index">

			<legend>Question {{question.id}}</legend>

			<span ng-switch="question.questionType">
				<div directive-one ng-switch-when="text">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label>
							<input type="text" id={{"a"+$index}} name="fff">
						</label>
					</form>
				</div>
				<div directive-two ng-switch-when="number">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label>
							<input type="text" id={{"a"+$index}} name="fff">
						</label>
					</form>
				</div>
				<div directive-three ng-switch-when="numTol">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label>
							<input type="text" id={{"a"+$index}} name="fff">
						</label>
					</form>
				</div>
				<div directive-four ng-switch-when="multi">{{question.bodyText}}
					<form id={{"question"+$index+"form"}}>
						<label ng-repeat=" option in question.optionsText"> <input
							type="radio" id={{"q"+$parent.$index+"a"+$index}} name="fff">
							{{option}}
						</label>
					</form>
				</div>
			</span>
		</fieldset>

		<button ng-click="checkAnswers()">Check Answers</button>


	</div>
	<script type="text/javascript">
	    document.getElementById("logout").onclick = logout;
	    function logout() {
		sessionStorage.removeItem("username");
		sessionStorage.removeItem("password");
		window.location = "http://shrouded-earth-7234.herokuapp.com/login-fancy.html"; 
	    }

</script>
</body>
</html>
