<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

  <style type="text/css" id="holderjs-style"></style></head>


<title>Log In Page</title>
</head>


<div class="jumbotron">
<div class=col-md-5>
<img src="images/vicLogo.jpg" style="width: 150px; height: 150px;">
</div>
<div class="col-md-7">
<h1>Log In</h1>
<style>
.error-message {
  color: red;
}
.jumbotron{
padding-left:900px;
padding-bottom:200px;
margin-top:250px
}
.col-md-5{
margin-left:-200px;
}
.col-md-7{
margin-left:-200px;
margin-top:-32px;
}
</style>
	<script type="text/javascript" src="js/libraries/angular/angular.js"></script>
	<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
<form novalidate ng-app name="login">

  	<div class="error-message"
  		ng-show="login.username.$dirty && login.username.$error.required">
  		The username is required
  	</div>
	<div class="error-message" ng-show="login.username.$error.minlength">
		The username should be more than 2 symbols
	</div>
	<div class="error-message"
		ng-show="login.username.$error.maxlength">
		The username should not be more than 15 symbols
	</div>
	<label for="username">Username</label>
	<input type="text" name="username" ng-model="username" ng-minlength="3" ng-maxlength="15" required />
	<br />


	<div class="error-message"
		ng-show="login.password.$dirty && login.password.$error.required">
		The password is required
	</div>
	<div class="error-message" ng-show="login.password.$error.pattern">
		The password should containing at least 8 characters, 1 number, 1 upper and 1 lowercase
	</div>
	<label for="password">Password</label>
	<input type="password" name="password" ng-model="password" required
	ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/" />

	<br>
	<input type="button"  class="btn btn-success" id="submit" value="login">
	<input type = "button" class="btn btn-success" id="submitAdmin" value = "login admin">
	<input type = "button" class="btn btn-default" id="register" value = "register">
	<script type="text/javascript">
    document.getElementById("submit").onclick = confirm;
    function confirm() {
	$.ajax({
		url:'http://shrouded-earth-7234.herokuapp.com/processQuery.php',
		type: 'post',
		data: {"funcName":"checkPassword","username":login.username.value,"password":login.password.value},
		success: function(response){

			if(response.indexOf("true")!=-1){
			//remember my deets
				sessionStorage.setItem('username',login.username.value);
				sessionStorage.setItem('password',login.password.value);
 				window.location = "http://shrouded-earth-7234.herokuapp.com/quizTest.html";
			}
			else{
			alert("Incorrect username or password");
			}
			console.log(response);
			console.log("username from session"+sessionStorage.getItem('username'));
			console.log("password from session"+sessionStorage.getItem('password'));

		}

	});
    }


	document.getElementById("submitAdmin").onclick = confirmAdmin;
	    function confirmAdmin() {
		$.ajax({
			url:'http://shrouded-earth-7234.herokuapp.com/processQuery.php',
			type: 'post',
			data: {"funcName":"checkPasswordAdmin","username":login.username.value,"password":login.password.value},
			success: function(response){

				if(response.indexOf("true")!=-1){
				//remember my deets
					sessionStorage.setItem('username',login.username.value);
					sessionStorage.setItem('password',login.password.value);
	 				window.location = "http://shrouded-earth-7234.herokuapp.com/adminPage.html";
				}
				else{
				alert("Incorrect username or password");
				}
				console.log(response);
				console.log("username from session"+sessionStorage.getItem('username'));
				console.log("password from session"+sessionStorage.getItem('password'));

			}

		});
	}

	document.getElementById("register").onclick = linkToRegistration;
	   	function linkToRegistration() {
	   		window.location = "http://shrouded-earth-7234.herokuapp.com/Register.html";
	}
</script>
</form>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootsrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</div>
</div>
</html>
