<!DOCTYPE html>
<html ng-app="quizList">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

  <style type="text/css" id="holderjs-style"></style>
<title>Courses</title>
<meta content="">
<style>
.jumbotron{
	padding-top:25px;
	padding-bottom:725px;
	margin-top:100px;
}
.col-md-5{
	margin-left:800px;
}
</style>
<script type="text/javascript" src="js/libraries/angular/angular.js"></script>
<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/quiz_lib/app.js"></script>
<script type="text/javascript" src="js/quiz_lib/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
</head>
<div class="jumbotron">
<div class="col-md-5">
<body onload="load()">
	<script>
		function load() {
			if (sessionStorage.getItem('username') == null) {
				alert("You're not logged in, redirecting to home");
				window.location = "http://shrouded-earth-7234.herokuapp.com/login-fancy.html";
			}
		}
	</script>
	<button onclick="window.location = 'http://shrouded-earth-7234.herokuapp.com/results.html'" class="btn btn-sm btn-link">Results</button>
	<button id="logoutBtn" class="btn btn-sm btn-link" onclick="logout()">Logout</button>
	<br>
	<br>
      <div class="page-header">
	<h1>Available Courses</h1>
      </div>

	<div id="main" ng-controller="quizCtrl" ng-show="loaded"
		ng-init="getQuizes()">

		<div id={{ "quiz"+$index}} ng-repeat="quiz in quizes track by $index">

			<button id={{ "quiz"+$index+"btn"}} class="btn btn-sm btn-info" ng-init="name=quiz"
				ng-click=selectQuiz(name)>{{quiz}}</button>

		</div>
		<br> <br> <br>
	</div>

	<script>
		function gotoResults() {
			window.location = "http://shrouded-earth-7234.herokuapp.com/results.html";
		}

		function logout() {
			sessionStorage.removeItem("username");
			sessionStorage.removeItem("password");
			sessionStorage.clear();
			window.location = "http://shrouded-earth-7234.herokuapp.com/login-fancy.html";
		}
	</script>



</body>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootsrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</div>
</html>
